@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-blue: #C5D9E7;
  --color-blue: #5199D3;
  --color-violet: #5A5CA8;
  --color-dark-blue: #2C4594;
  --color-ink-black: #060606;
  --color-footer-bg: #212529;
}

::-webkit-scrollbar { width: 5px !important; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #5A5CA8; border-radius: 10px; }

/* Hide number input spinners cross-browser */
input[type="number"] {
  appearance: textfield;        /* Standard */
  -moz-appearance: textfield;   /* Firefox */
  -webkit-appearance: none;     /* Safari/Chrome/Edge */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;             /* Standard */
  -webkit-appearance: none;     /* Safari/Chrome/Edge */
  margin: 0;
}

/*IOWAN FONT*/
@font-face {
  font-family: 'IOwan';
  src: url('/font/iowan/IowanOldStyleBT-Black.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'IOwan';
  src: url('/font/iowan/IowanOldStyleBT-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IOwan';
  src: url('/font/iowan/IowanOldStyleBT-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*AVENIR FONT*/
@font-face {
  font-family: 'Avenir';
  src: url('/font/avenir/AvenirLTStd-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/font/avenir/AvenirLTStd-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url(/font/avenir/AvenirLTStd-Medium.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url(/font/avenir/AvenirLTStd-Roman.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/font/avenir/AvenirLTStd-Light.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'IOwan', sans-serif !important;
}

button {
  cursor: pointer !important;
  outline: none !important;
}

Image {
  user-select: none !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Avenir', sans-serif !important;
}

.bg-ontap {
  background: url('/images/ontap-hero-bg.png') center no-repeat;
  background-size: cover;
}

.backface-hidden {
  backface-visibility: hidden;
}

.bg-ontap::before{
  content: '';
  height: 100%;
  width: 100%;
  background-color: black;
  background: linear-gradient(to top right, #c5d9e725, #5198d31a, #5a5da849);
  position: absolute;
  z-index: 10;
}

@keyframes pulseGrow {
  0% { 
    transform: rotateY(55deg) scale(1); 
    filter: blur(0px); 
    opacity: 1; 
    border: 1px #5199D3 solid;
  }
  100% { 
    transform: rotateY(55deg) scale(1.3); 
    filter: blur(1px); 
    opacity: 0; 
    border: 2px #5199D3 solid;
  }
}

.pulseGrow {
  animation: pulseGrow 1s infinite ease-in;
}

@keyframes waterEffect {
  0% {
    border: 8px solid #C5D9E7;
    opacity: 0.7;
    filter: blur(0px);
    transform: scale(1);
  }
  100% {
    border: 1px solid #5199D3;
    opacity: 0;
    filter: blur(1px);
    transform: scale(2.5);
  }
}

.waterEffect {
  animation: waterEffect 1.5s infinite ease-out;
  animation-delay: 5s;
}